.videoDataConteiner{
      position: relative;
      margin-top: 25px;
      margin-left: 65px;
      width: 790px;
      
      .channelIcon{
            width: 48px;      
            height: 48px;
            border-radius: 50%;
      }      
}