.listItemContainer{
      width: 210px;
      height: 100%;
      margin-right: 5px;

      .pictureContainer{
            width: 100%;
            height: 117.8px;
            position: relative;
            z-index: 400;
            display: flex;
            flex-direction: row-reverse;

            .playButton{
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  z-index: 450;
                  color: rgba(255, 255, 255, 0.8);
                  font-size: 2em;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

                  & > *{
                        align-self: center;
                        display: none;
                  }
                  
                  &:hover{
                        cursor: pointer;

                        & > *{
                              display: initial;
                        }
                  }
            }

            .videoLength{
                  position: absolute;
                  z-index: 500;
                  top: calc(100% - 0.9em - 5px);
                  right: 2px;
                  background: rgba(0, 0, 0, 0.6);
                  color: rgba(255, 255, 255, 0.9);
                  font-size: 0.9em;
                  border-radius: 10%;
                  padding: 0px 3px 0px 3px;

            }
            
            .picture{
                  width: 100%;
                  height: 100%;
            }
      }

      .title{
            margin: 10px 0px 15px 0px;
            font-size: 0.95em;
            height: 34px;
            overflow-y: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            word-break: break-all;
      }
      
      .metadata{
            color: grey;
            font-size: 0.8em;
            line-height: 1.5em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
      }
}