.searchContainer{
      display: flex;
      flex-direction: row;
      height: 30px;
      max-width: 640px;
      border: 1px solid #c6c6c6;
      margin: 0px 10px 0px 10px;
}

.searchInput{
      min-width: 570px;
      border: none;
      margin-right: 1px;
      padding-left: 5px;
}

.searchButton{
      width: 70px;
      background-color: #F0F0F0;
      border: none;
      border-left: 1px solid #c6c6c6;
}

.fa-search{
      color: #c6c6c6;
}